progetto_2/analisi
split3.pkl
split2.pkl
split1.pkl
split0.pkl
progetto_2/alessio-spagnolo-5.py
progetto_2/AlePickle.ipynb
progetto_2/main.py
prova2.py
progetto_2/airflow.cfg
progetto_2/airflow.db
progetto_2/webserver_config.py
progetto_2/logs
progetto_2/airflow-webserver.pid
progetto_2/standalone_admin_password.txt
progetto_2/dags/__pycache__
progetto_2/dags/src/__pycache__
airvenv/
progetto_2/prova2.py
progetto_2/documents
progetto_2/dags/usda.py
